$message-margin: 3rem;
$chat-box-height: 3rem;
$chat-box-padding: .5rem;
$side-bar-width: 4rem;
$dark-background-color:#20232a;
$side-bar-color:#181b20;

.messages-div {
    position: relative;
    text-align: left;
    padding-bottom: $chat-box-height;
    margin-left: $side-bar-width;
}

.message {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: $message-margin;

    div {
        display: inline-block;
        hyphens: auto;
        word-break: break-word;
        background-color: $dark-background-color;
        border-radius: .5em;
        padding: .25rem;
        box-shadow: 1px 1px 3px #141619;
    }
    
    &.owner {
        margin-right: 0;
        margin-left: $message-margin;
        text-align: right;
    }
}

.chat-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $chat-box-height;
    background-color: $dark-background-color;
    max-width: 100%;
    padding: .5rem;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 1.25rem;
    padding-right: calc(#{$side-bar-width} + .5rem);

    button, span {
        border-radius: .5rem;
        border: none;
        box-shadow: .5px .5px 3px #131519;
    }

    button, textarea {
        font-size: 1.25rem;
        line-height: 1.25rem;
        background-color: #282c34;
        color: white;

        &:focus {
            outline: none;
        }
    }
    
    span {
        display: block;
        overflow: hidden;
        height: 100%;
        border-radius: .25rem;

        textarea {
            box-sizing: border-box;
            width: 100%;
            resize: none;
            border: none;
        }
    }

    button {
        float: right;
        width: 5rem;
        height: 100%;
        margin-left: .25rem;
        user-select: none;
    }
}

.side-bar {
    background-color: $side-bar-color;
    width: $side-bar-width;
    float:left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: .25rem;
    gap: .25rem;
    box-shadow: .5px 0px 3px #141619;

    .chat-room-link {
        width: 100%;
        height: calc(#{$side-bar-width} - .5rem);
        max-width: 100%;
        max-height: calc(#{$side-bar-width} - .5rem);
        background-color: $dark-background-color;
        border-radius: $side-bar-width;
        cursor: pointer;
        transition: border-radius .15s, box-shadow .15s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
        box-shadow: 1px 1px 3px #141619;
        

        &:hover {
            border-radius: 15px;
            box-shadow: 1.5px 1.5px 4px #0b0c0e;
        }
    }
}