$message-margin: 1.5rem;
$chat-box-height: 3rem;
$chat-box-padding: .5rem;

.messages-div {
    text-align: left;
    padding-bottom: $chat-box-height
}

.message {
    display: block;
    font-size: 1.5rem;
    padding: .5rem;
    margin-right: $message-margin;

    div {
        display: inline-block;
        max-width: 20rem;
        background-color: #20232a;
        border-radius: .5em;
        padding: .25rem;
    }
    
    &.owner {
        margin-right: 0;
        margin-left: $message-margin;
        text-align: right;
    }
}

.chat-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $chat-box-height;
    background-color: #20232a;
    max-width: 100vw;
    padding: .5rem;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 1.25rem;

    button, span {
        border-radius: .5rem;
        border: none;
    }

    button, textarea {
        font-size: 1.25rem;
        line-height: 1.25rem;
        background-color: #282c34;
        color: white;

        &:focus {
            outline: none;
        }
    }
    
    span {
        display: block;
        overflow: hidden;
        height: 100%;
        border-radius: .25rem;

        textarea {
            box-sizing: border-box;
            width: 100%;
            resize: none;
            border: none;
        }
    }

    button {
        float: right;
        width: 5rem;
        height: 100%;
        margin-left: .25rem;
        user-select: none;
    }
}